@import url("./tokens.css");
@import url("./reset.css");

:root {
    --grid-gap: var(--space-150);
    --grid-col-start: 1;
}

body {
    font:
        normal 400 0.875rem/1.25rem ui-sans-serif,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Ubuntu,
        "Helvetica Neue",
        sans-serif;
}

main {
    width: 1024px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-gap);
}

.grid__col-span_1 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 1);
}

.grid__col-span_2 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 2);
}

.grid__col-span_3 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 3);
}

.grid__col-span_4 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 4);
}

.grid__col-span_5 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 5);
}

.grid__col-span_6 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 6);
}

.grid__col-span_7 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 7);
}

.grid__col-span_8 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 8);
}

.grid__col-span_9 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 9);
}

.grid__col-span_10 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 10);
}

.grid__col-span_11 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 11);
}

.grid__col-span_12 {
    grid-column-start: var(--grid-col-start);
    grid-column-end: calc(var(--grid-col-start) + 12);
}

.grid__col-start_3 {
    --grid-col-start: 3;
}

.grid__col-start_4 {
    --grid-col-start: 4;
}

.nav {
    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding-block: var(--space-100);
        padding-inline: var(--space-075);
        color: var(--text-color);
        border: 1px solid transparent;

        &:hover,
        &:hover:visited {
            text-decoration: none;
            color: var(--color-neutral-100);
            background: var(--color-alpha-neutral-20);
        }

        &:visited {
            color: var(--text-color);
        }

        &:focus {
            outline: 1px solid var(--color-neutral-30);
        }

        &.active {
            border-left-width: 2px;
            border-left-color: var(--color-neutral-90);
            color: var(--color-neutral-100);
        }
    }
}
